#components-layout-demo-fixed .logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.2);
}
.site-layout .site-layout-background {
  background: #fff;
}

/* LOGIN */
.login-main {
  height: 100vh;
}
.login-main .ant-col {
  position: relative;
}
.login-main .ant-col .login-container {
  left: 25%;
  position: absolute;
  top: 35%;
  width: 50%;
}
.login-main .logo {
  background-image: url('./assets/banner.png');
  background-size: cover;
  height: 100%;
}
